
.dog{padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;

}
.carousel-caption{color: #F0FFFF;
  font-weight: bold;
  font-size: 23px;

}

.aboutMe1{padding-left: 15%;
  padding-right: 15%;

}

h2{text-align: center;
  color: #40E0D0;
  font-weight: bold;
  font-size: 50px;
}

h3{
  text-align: center;
  color: #40E0D0;
  font-weight: bold;
  /*font-size: 50px;*/
}
.cat{
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

body{
  background-color: #F0F8FF;


}
